{$SITE_ADDRESS}, http://127.0.0.1 {
	encode zstd gzip

	@mediaUpload path /api/v1/admin/apis/media
	handle @mediaUpload {
		request_body {
			max_size 2100MB
		}
		reverse_proxy app:3000
	}

	@largeAdminUpload path /api/v1/admin/apis /api/v1/admin/apis/assets /api/v1/admin/settings
	handle @largeAdminUpload {
		request_body {
			max_size 72MB
		}
		reverse_proxy app:3000
	}

	handle {
		request_body {
			max_size 3MB
		}
		reverse_proxy app:3000
	}

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains" defer
	}
}
